<div class="w-full bg-white border-t shadow-md z-50">
    <div class="flex justify-around items-center h-16 text-gray-600 text-xs">
        <a asp-page="/Index" class="flex flex-col items-center space-y-1 @(ViewContext.ActionDescriptor.DisplayName.Contains("Index") ? "text-blue-800" : "")">
            <img src="/images/icons/home.png" class="w-6 h-6" />
            <span>Home</span>
        </a>
        <a asp-page="/ReturnDamage" class="flex flex-col items-center space-y-1 @(ViewContext.ActionDescriptor.DisplayName.Contains("ReturnDamage") ? "text-blue-800" : "")">
            <img src="/images/icons/stockin.png"  class="w-6 h-6" />
            <span>Return Damage</span>
        </a>
        <a asp-page="/StockControl" class="flex flex-col items-center space-y-1 @(ViewContext.ActionDescriptor.DisplayName.Contains("StockControl") ? "text-blue-800" : "")">
            <img src="/images/icons/count.png" class="w-6 h-6" />
            <span>Stock Control</span>
        </a>
        <a asp-page="/Locations" class="flex flex-col items-center space-y-1 @(ViewContext.ActionDescriptor.DisplayName.Contains("Locations") ? "text-blue-800" : "")">
            <img src="/images/icons/location.png" class="w-6 h-6" />
            <span>Location</span>
        </a>
        <a asp-page="/Notification" class="flex flex-col items-center space-y-1 @(ViewContext.ActionDescriptor.DisplayName.Contains("Notification") ? "text-blue-800" : "")">
            <img src="/images/icons/notify.png" class="w-6 h-6" />
            <span>Notify</span>
        </a>
    </div>
</div>
